.custom-card {
  margin-top: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  color: white;

  ion-card-title, ion-card-subtitle, ion-label, p {
    color: white !important;
  }

  .temp-container {
    text-align: center;
    h1 {
      font-size: 4rem;
      margin: 10px 0;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}